<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smfst.xcw.mapper.UserQuestionMapper">

	<resultMap id="BaseResultMap" type="UserQuestion">
        <id column="id" jdbcType="INTEGER" property="id"/>
		<result column="id" jdbcType="INTEGER" property="id"/>
		<result column="userWorkId" jdbcType="INTEGER" property="userWorkId"/>
		<result column="carId" jdbcType="INTEGER" property="carId"/>
		<result column="userProductionLineId" jdbcType="INTEGER" property="userProductionLineId"/>
	</resultMap>

	<sql id="Base_Column_List">
        		id,
		userWorkId,
		carId,
		userProductionLineId
    </sql> 

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from UserQuestion
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from UserQuestion
        where id = #{id}
    </delete>

    <delete id="delete" parameterType="UserQuestion">
        delete from UserQuestion
        where 1 = 1
        
        <if test="id != null">
             id = #{id},
        </if>

        <if test="userWorkId != null">
             userWorkId = #{userWorkId},
        </if>

        <if test="carId != null">
             carId = #{carId},
        </if>

        <if test="userProductionLineId != null">
             userProductionLineId = #{userProductionLineId},
        </if>

    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  parameterType="UserQuestion">
        insert into UserQuestion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            
        <if test = "id != null" >
        	id,
        </if>

        <if test = "userWorkId != null" >
        	userWorkId,
        </if>

        <if test = "carId != null" >
        	carId,
        </if>

        <if test = "userProductionLineId != null" >
        	userProductionLineId,
        </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            
        <if test="id != null">
            #{id},
        </if>

        <if test="userWorkId != null">
            #{userWorkId},
        </if>

        <if test="carId != null">
            #{carId},
        </if>

        <if test="userProductionLineId != null">
            #{userProductionLineId},
        </if>

        </trim>
    </insert>


    <update id="update" parameterType="UserQuestion">
        update UserQuestion
        <set>
            
        <if test="id != null">
             id = #{id},
        </if>

        <if test="userWorkId != null">
             userWorkId = #{userWorkId},
        </if>

        <if test="carId != null">
             carId = #{carId},
        </if>

        <if test="userProductionLineId != null">
             userProductionLineId = #{userProductionLineId},
        </if>

        </set>
        where id = #{id}
    </update>

    <select id="selectList" parameterType="UserQuestion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
                from UserQuestion
        where 1 = 1
        
        <if test="id != null">
             id = #{id},
        </if>

        <if test="userWorkId != null">
             userWorkId = #{userWorkId},
        </if>

        <if test="carId != null">
             carId = #{carId},
        </if>

        <if test="userProductionLineId != null">
             userProductionLineId = #{userProductionLineId},
        </if>

        order by id desc
    </select>

    <select id="selectByPartment" parameterType="UserQuestion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
                from UserQuestion
        where 1 = 1
        <choose>
        
        <when test="id != null">
            and id = #{id}
        </when>

        <when test="userWorkId != null">
            and userWorkId = #{userWorkId}
        </when>

        <when test="carId != null">
            and carId = #{carId}
        </when>

        <when test="userProductionLineId != null">
            and userProductionLineId = #{userProductionLineId}
        </when>

        </choose>
        order by id desc
    </select>
</mapper>
