<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smfst.xcw.mapper.UserSellOutLogMapper">

	<resultMap id="BaseResultMap" type="UserSellOutLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
		<result column="id" jdbcType="INTEGER" property="id"/>
		<result column="userWorkId" jdbcType="INTEGER" property="userWorkId"/>
		<result column="carId" jdbcType="INTEGER" property="carId"/>
		<result column="gold" jdbcType="INTEGER" property="gold"/>
		<result column="time" jdbcType="INTEGER" property="time"/>
		<result column="num" jdbcType="INTEGER" property="num"/>
	</resultMap>

	<sql id="Base_Column_List">
        		id,
		userWorkId,
		carId,
		gold,
		time,
		num
    </sql> 

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from UserSellOutLog
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from UserSellOutLog
        where id = #{id}
    </delete>

    <delete id="delete" parameterType="UserSellOutLog">
        delete from UserSellOutLog
        where 1 = 1
        
        <if test="id != null">
             id = #{id},
        </if>

        <if test="userWorkId != null">
             userWorkId = #{userWorkId},
        </if>

        <if test="carId != null">
             carId = #{carId},
        </if>

        <if test="gold != null">
             gold = #{gold},
        </if>

        <if test="time != null">
             time = #{time},
        </if>

        <if test="num != null">
             num = #{num},
        </if>

    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  parameterType="UserSellOutLog">
        insert into UserSellOutLog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            
        <if test = "id != null" >
        	id,
        </if>

        <if test = "userWorkId != null" >
        	userWorkId,
        </if>

        <if test = "carId != null" >
        	carId,
        </if>

        <if test = "gold != null" >
        	gold,
        </if>

        <if test = "time != null" >
        	time,
        </if>

        <if test = "num != null" >
        	num,
        </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            
        <if test="id != null">
            #{id},
        </if>

        <if test="userWorkId != null">
            #{userWorkId},
        </if>

        <if test="carId != null">
            #{carId},
        </if>

        <if test="gold != null">
            #{gold},
        </if>

        <if test="time != null">
            #{time},
        </if>

        <if test="num != null">
            #{num},
        </if>

        </trim>
    </insert>


    <update id="update" parameterType="UserSellOutLog">
        update UserSellOutLog
        <set>
            
        <if test="id != null">
             id = #{id},
        </if>

        <if test="userWorkId != null">
             userWorkId = #{userWorkId},
        </if>

        <if test="carId != null">
             carId = #{carId},
        </if>

        <if test="gold != null">
             gold = #{gold},
        </if>

        <if test="time != null">
             time = #{time},
        </if>

        <if test="num != null">
             num = #{num},
        </if>

        </set>
        where id = #{id}
    </update>

    <select id="selectList" parameterType="UserSellOutLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
                from UserSellOutLog
        where 1 = 1
        
        <if test="id != null">
             id = #{id},
        </if>

        <if test="userWorkId != null">
             userWorkId = #{userWorkId},
        </if>

        <if test="carId != null">
             carId = #{carId},
        </if>

        <if test="gold != null">
             gold = #{gold},
        </if>

        <if test="time != null">
             time = #{time},
        </if>

        <if test="num != null">
             num = #{num},
        </if>

        order by id desc
    </select>

    <select id="selectByPartment" parameterType="UserSellOutLog" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
                from UserSellOutLog
        where 1 = 1
        <choose>
        
        <when test="id != null">
            and id = #{id}
        </when>

        <when test="userWorkId != null">
            and userWorkId = #{userWorkId}
        </when>

        <when test="carId != null">
            and carId = #{carId}
        </when>

        <when test="gold != null">
            and gold = #{gold}
        </when>

        <when test="time != null">
            and time = #{time}
        </when>

        <when test="num != null">
            and num = #{num}
        </when>

        </choose>
        order by id desc
    </select>
</mapper>
